func add(int a, int b) {
    return a + b;
}

func mul(int FUNCTION, int b) {
     return a * b;
}

func main() {
    int FUNCTION;
    int b;
    a = add(10, 2);
    clog(a);
    b = mul(FUNCTION, a + b);
    clog(b);
}
